page-home {


    .content{

        background: linear-gradient(-135deg,rgb(255, 5, 5)  , rgb(240, 233, 238) ,rgb(250, 2, 2) );
        
    }

    #2lay{
       height: 100%;
       width:100%;
       background: url(https://images.pexels.com/photoCcompress&cs=tinysrgb&dpr=2&h=750&w=1260) 

    }
}
